* {
  font-family: F37 Ginger;
}

body {
  background-color: #fff;

  margin: 0;
}

p {
  color: #000000;
  margin: 0;

  font-style: normal;
  font-weight: 400;

  opacity: 1;
}

.flex-container {
  display: flex;
}

.bold {
  font-weight: 700;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.circled {
  background-color: white;

  box-shadow: 0px 0px 30px 0px #2424481a;

  height: 31px;
  width: 31px;

  border-radius: 50%;
}

.underline-gray {
  text-decoration: underline rgba(0, 0, 0, 0.1) 5px solid;
  text-underline-offset: -3px;
}

.underline-red {
  text-decoration: underline rgb(209, 3, 10, 0.2) 5px solid;
  text-underline-offset: -3px;
}

.gradient-background {
  background: linear-gradient(
    46.19deg,
    rgb(255, 209, 148, 0.3) 5.66%,
    rgb(112, 225, 245, 0.3) 94.35%
  );

  transform: matrix(-1, 0, 0, 1, 0, 0);

  height: 404px;
  width: 100%;
}

.upper-box {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.upper-box__heading {
  font-size: 35px;
  font-style: normal;
  line-height: 46px;
  letter-spacing: 2px;
  text-align: center;

  margin: 0;

  opacity: 0.3;
}

.upper-box__subheading {
  height: 70px;
}

.upper-box__title {
  font-size: 35px;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: center;
}

.upper-box__product-names {
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
}

.properties {
  margin-top: 32px;
  margin-left: 26px;

  height: 54px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.properties__item {
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: left;

  color: #60615d;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100px;
  width: 180px;
}

.cta__heading {
  font-size: 45px;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;

  margin-top: 22px;

  color: #d1030a;
}

.cta__subheading {
  font-size: 26px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;

  color: #d1030a;
}

.products-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  height: 140px;

  margin-top: 52px;
  margin-bottom: 35px;
}

.products-list__item {
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;

  margin-left: 15px;
}

.pricing {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pricing__total {
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;

  color: #7a7a7a;
}

.pricing__bundle {
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;

  color: #000000;

  margin-top: 12px;
}

.pricing__period {
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: left;

  color: #7a7a7a;

  align-self: flex-end;
}

.savings {
  background-color: rgb(141, 145, 150, 0.1);

  height: 40px;
  width: 295px;

  border-radius: 0px;

  margin-top: 30px;
}

.savings__description {
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 2px;
  text-align: left;

  color: #7a7a7a;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order__button {
  height: 70px;
  min-width: 280px;

  background: #3eb291;
  color: #fff;

  border-radius: 110px;
  border: none;

  font-size: 20px;
  line-height: 15px;
  letter-spacing: 2px;
  text-align: center;

  margin: 20px;
}

.order__shipping-info {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  text-align: left;

  color: #acb5bd;
}
