* {
  font-family: F37 Ginger;
}

body {
  background-color: #fff;

  margin: 0;
}

p {
  color: #000000;
  margin: 0;

  font-style: normal;
  font-weight: 400;

  opacity: 1;
}

.bold {
  font-weight: 700;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circled {
  background-color: white;

  box-shadow: 0px 0px 30px 0px #2424481a;

  height: 31px;
  width: 31px;

  border-radius: 50%;
}

.circled svg {
  transform: translate(2px, -2px);
}

.line-through {
  background-image: linear-gradient(
    to right,
    transparent 0%,
    rgb(122, 122, 122, 0.5) 3%,
    rgb(122, 122, 122, 0.5) 97%,
    transparent 100%
  );
  background-repeat: repeat-x;
  background-position: 0 62%;
  background-size: 100% 2px;
}

.underline-gray {
  background-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(0, 0, 0, 0.1) 3%,
    rgba(0, 0, 0, 0.1) 97%,
    transparent 100%
  );
  background-repeat: repeat-x;
  background-position: 0 92%;
  background-size: 100% 7px;
}

.margin-left-35 {
  margin-left: 35px !important;
}

.margin-right--17 {
  margin-right: -17px;
}

.gradient-background {
  background: linear-gradient(
    46.19deg,
    rgb(255, 209, 148, 0.3) 5.66%,
    rgb(112, 225, 245, 0.3) 94.35%
  );

  transform: matrix(-1, 0, 0, 1, 0, 0);

  padding-top: 57px;

  height: 404px;
  width: 100%;
}

.introduction {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.introduction__heading {
  font-size: 35px;
  font-style: normal;
  line-height: 46px;
  letter-spacing: 2px;
  text-align: center;

  margin: 0;

  opacity: 0.3;
}

.introduction__subheading {
  height: 70px;
  width: 88%;
}

.introduction__title {
  font-size: 35px;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: center;
}

.introduction__product-names {
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
}

.introduction__products-image {
  position: absolute;

  left: 0;
  right: 0;
  top: 300px;

  max-width: 100%;

  margin-left: auto;
  margin-right: auto;
}

.properties {
  width: 80%;

  display: flex;
  justify-content: space-between;
  align-items: baseline;

  margin: 32px auto 0;
}

.properties__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: left;

  color: #60615d;
}

.properties__item svg {
  width: 40px;

  margin-right: 5px;
}

.properties .properties__item:first-child {
  margin-bottom: 16px;
}

.description {
  flex-direction: column;

  margin: 50px 15px 31px;
}

.cta {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  width: 180px;
}

.cta__heading {
  font-size: 45px;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;

  color: #d1030a;
}

.cta__subheading {
  font-size: 26px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;

  color: #d1030a;

  background-image: linear-gradient(
    to right,
    transparent 0%,
    rgb(209, 3, 10, 0.2) 3%,
    rgb(209, 3, 10, 0.2) 97%,
    transparent 100%
  );
  background-repeat: repeat-x;
  background-position: 0 114%;
  background-size: 100% 7px;
}

.products-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  height: 140px;

  margin-top: 52px;
  margin-bottom: 35px;
}

.products-list__item {
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;

  margin-left: 15px;
}

.pricing {
  display: flex;
  align-items: center;
  flex-direction: column;

  position: relative;
}

.pricing__total {
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;

  color: #7a7a7a;
}

.pricing__bundle {
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;

  color: #000000;

  margin-top: 12px;
}

.pricing__bundle--state-highlighted {
  color: #d1030a;
}

.pricing__period {
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: left;

  color: #7a7a7a;

  align-self: flex-end;

  position: absolute;
  bottom: -18px;
}

.savings {
  background-color: rgb(141, 145, 150, 0.1);

  height: 40px;
  width: 295px;

  border-radius: 0px;

  margin-top: 40px;
}

.savings__description {
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 2px;
  text-align: left;

  color: #7a7a7a;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order__button {
  height: 70px;
  min-width: 280px;

  background: #3eb291;
  color: #fff;

  border-radius: 110px;
  border: none;

  font-size: 20px;
  line-height: 15px;
  letter-spacing: 2px;
  text-align: center;

  margin: 20px auto;
}

.order__button svg {
  margin-right: 15px;
}

.order__shipping-info {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  text-align: left;

  color: #acb5bd;
}

@media screen and (max-width: 992px) {
  .desktop-visible {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .mobile-visible {
    display: none;
  }

  .introduction {
    display: flex;
  }

  .introduction__heading {
    font-size: 60px;
    line-height: 40px;
  }

  .introduction__subheading {
    height: 70px;

    margin-top: 22px;
  }

  .introduction__product-names {
    font-size: 35px;
    line-height: 20px;

    margin-left: 8px;
  }

  .properties {
    flex-direction: row;
    align-items: center;

    height: 26px;
    width: 572px;

    margin: 27px auto 0;
  }

  .properties__item svg {
    opacity: 0.5;
  }

  .properties .properties__item:first-child {
    margin-bottom: 0;
  }

  .products-desktop {
    display: flex;

    position: absolute;
    top: 250px;

    width: 1024px;
    max-width: 90%;
  }

  .products-desktop svg {
    transform: translate(15px, 42px);
  }

  .product-info {
    margin-left: 25px;
  }

  .product-info__item-name {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;

    color: #495057;
  }

  .product-info__item-price {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;

    color: #7a7a7a;
  }

  .description {
    flex-direction: row;
    justify-content: space-between;

    margin: 200px auto 0;

    width: 1024px;
    max-width: 90%;

    transform: translateX(23px);
  }

  .cta {
    align-items: flex-start;
    justify-content: space-between;

    height: 70px;
    width: 146px;

    margin-bottom: 13px;
  }

  .cta__heading {
    font-size: 35px;
    font-weight: 700;
  }

  .cta__subheading {
    background-image: none;
  }

  .pricing {
    align-items: flex-start;
    justify-content: space-between;

    margin-right: 64px;

    height: 62px;
  }

  .order__button {
    width: 381px;
  }
}
